.benefit {
   margin-top: 5px;
   text-align: center;

   @include phones {
      display: flex;
      text-align: left;
   }

}

.benefit__title {
   font-weight: bold;
   font-size: rem(27px);
   line-height: rem(32px);
   color: black;
   margin-bottom: rem(10px);
}

.benefit__image {

   @include phones {
      margin-bottom: 0;
      margin-right: rem(20px);
   }
}

.benefit__image-wrapper {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: rem(126px);
   height: rem(126px);

   position: relative;
   background: #f2f5f4;
   border-radius: 50%;
   overflow: hidden;
   margin-bottom: rem(18px);

}

.benefit__icon {
   width: rem(75px);
   height: rem(69px);
   position: absolute;
   top: 50%;
   height: 50%;
   transform: translate(33%, -50%);
}