.benefits {
   display: flex;
   margin-top: 5px;
   margin-bottom: 10px;

   @include phones {
      flex-direction: column;
   }


}


.benefits__item {
   flex: 1;
   margin: 0 3%;
   position: relative;

   @include phones {
      padding: 0;
      margin-bottom: rem(19px);
   }


   &:before {
      content: url("/img/decor/separator.png");
      position: absolute;
      top: rem(50px);
      padding-left: -32px;
      transform: translateX(147px);

      @include phones {
         display: none;
      }

   }

   &:first-child {
      padding-left: 0;
   }

   &:last-child {
      padding-right: 0;

      &:before {
         display: none;
      }
   }

   @include screen {
      &:before {
         content: url("/img/decor/separator.png");
         position: absolute;
         top: rem(50px);
         padding: 0 15%;
         transform: translateX($tsw/11);
      }
   }

   @include tablets {
      &:before {
         content: url("/img/decor/separator.png");
         position: absolute;
         top: rem(50px);
         padding: 0 15%;
         transform: translateX($tsw/15);
      }
   }

}