.btn {
   font-size: rem(19px);
   font-weight: bold;
   padding: rem(18px) rem(37px);
   text-transform: uppercase;
   border-radius: rem(100px);
   line-height: 1;
   text-decoration: none;
   display: inline-block;
   border: none;

   @include tablets {}

   &--theme--white {
      background: #fff;
      color: $darkgreen;

      &:hover {
         color: #fff;
         background: $darkgreen;
      }
   }

   &--theme--green {
      background: $darkgreen;
      color: #fff;

      &:hover {
         color: $darkgreen;
         background: #fff;
      }
   }

   &--theme--transparent {
      background: transparent;
      color: #497870;
      text-transform: none;

      &:hover {
         color: black;

      }
   }




}

button {
   border: none;
   background: transparent;
   cursor: pointer;
   padding: 0;

   &:focus {
      outline: none;
   }
}