.hamburger__cont {
   align-items: end;
}

.hamburger {
   display: none;


   @include tablets {

      display: block;
      position: relative;

      width: 24px;
      height: 20px;
      cursor: pointer;
      z-index: 21;

   }

}

.hamburger__plank1 {
   display: block;
   position: absolute;
   background: white;
   top: 16px;
   height: 4px;
   width: 22px;
   border: 10px;
   z-index: 21;

}

.hamburger__plank2 {
   display: block;
   position: absolute;
   background: white;
   top: 24px;
   height: 4px;
   width: 22px;
   border: 10px;
   z-index: 21;



}

.hamburger__plank3 {
   display: block;
   position: absolute;
   background: white;
   top: 32px;
   height: 4px;
   width: 22px;
   border: 10px;
   z-index: 21;

}

.plank--none {
   display: none;
}


.plank--active1 {
   display: block;
   top: 24px;
   transform: rotate(-45deg);
   transition: 0.3s;

}

.plank--active2 {
   display: block;
   top: 24px;
   transform: rotate(45deg);
   transition: 0.3s;



}