.header {
   margin-bottom: rem(50px);
   display: flex;
   align-items: baseline;
   justify-content: flex-start;

   @include tablets {
      justify-content: space-between;
      margin-bottom: rem(20px);
   }
}