.hero {
   background: url("/img/decor/big-leaf.png ") right bottom no-repeat;
   background-color: $blue;
   height: 100vh;
   min-height: rem(650px);
   color: #fff;
   position: relative;

   @include tablets {
      background-position: right bottom 88%;
   }

   &:before,
   &::after {
      @include tablets {
         display: none;
      }
   }

   &:before {
      position: absolute;
      bottom: rem(-40px);
      left: 2%;
      content: url("/img/decor/corner-leaf.png");
   }

   &::after {
      content: url("/img/decor/berry.png");
      position: absolute;
      bottom: rem(-40px);
      right: 0;
   }
}



.cont__logo {
   top: 15px;
   display: block;
   position: relative;
   height: rem(38px);
   width: rem(53px);


}

.hero__title-section {
   width: 44%;

   @include tablets {

      width: 100%;

      flex: 1;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      text-align: center;

      &:before {
         content: "";

         width: 316px;
         height: 330px;
         background: url(/img/decor/wel_choko.png) center center / contain no-repeat;
      }

   }
}

.hero__icons-section {
   @include tablets {
      display: none;
   }
}

.hero__container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   padding: rem(5px) 0 rem(15px) 0;
   background: url("/img/decor/chocolates.png") right center / 48% auto no-repeat;

   @include tablets {
      background: none;
   }

}


.hero__main-title {
   font-weight: bold;
   font-size: rem(48px);
   line-height: 1.2;
   margin-top: rem(15px);
   margin-bottom: rem(15px);
   text-transform: uppercase;

   @include tablets {
      font-size: rem(40px);
   }
}

.hero__title-desc {
   font-size: rem(21px);
   margin-bottom: rem(35px);
   padding-right: 10%;
   line-height: 1.2;

   @include tablets {
      padding: 0 20%;
   }

   @include tablets {
      padding: 0 16%;
   }

}

.btn__cont {
   margin-left: rem(7px);
}