@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
}

.flower-icon {
  fill: white;
  height: 38px;
  width: 38px;
}

.phone-icon {
  fill: white;
  height: 14px;
  width: 14px;
}

.cargo-icon {
  fill: white;
  height: 36px;
  width: 36px;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

.phone-number__icon-elem {
  width: 0.9444444444rem;
  height: 0.9444444444rem;
  margin-right: 0.3333333333rem;
  flex-shrink: 0;
}

.hero {
  background: url("/img/decor/big-leaf.png ") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero::after {
    display: none;
  }
}
.hero:before {
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
  content: url("/img/decor/corner-leaf.png");
}
.hero::after {
  content: url("/img/decor/berry.png");
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}

.cont__logo {
  top: 15px;
  display: block;
  position: relative;
  height: 2.1111111111rem;
  width: 2.9444444444rem;
}

.hero__title-section {
  width: 44%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 316px;
    height: 330px;
    background: url(/img/decor/wel_choko.png) center center/contain no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.2777777778rem 0 0.8333333333rem 0;
  background: url("/img/decor/chocolates.png") right center/48% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 1.2;
  margin-top: 0.8333333333rem;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.9444444444rem;
  padding-right: 10%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 20%;
  }
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.btn__cont {
  margin-left: 0.3888888889rem;
}

.menu {
  margin: 0 27px;
  padding-top: 6px;
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.phone-number__text {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu.menu--active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    margin: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
  }
}

.menu__list {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menu__list.menu__list__active {
    flex-direction: column;
    display: flex;
  }
}

.menu__item {
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-bottom: 7px;
  }
}

.menu__link {
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu__link {
    font-size: 20px;
  }
}

.hamburger__cont {
  align-items: end;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: white;
  height: 4px;
  border: 10px;
}

.header {
  margin-bottom: 2.7777777778rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 2.0555555556rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #497870;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: black;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #0b4d3c;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  text-align: center;
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 0rem;
  text-transform: uppercase;
  color: black;
}

.benefits {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  margin: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("/img/decor/separator.png");
  position: absolute;
  top: 2.7777777778rem;
  padding-left: -32px;
  transform: translateX(147px);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
@media screen and (max-width: 1080px) {
  .benefits__item:before {
    content: url("/img/decor/separator.png");
    position: absolute;
    top: 2.7777777778rem;
    padding: 0 15%;
    transform: translateX(9.0909090909vw);
  }
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    content: url("/img/decor/separator.png");
    position: absolute;
    top: 2.7777777778rem;
    padding: 0 15%;
    transform: translateX(6.6666666667vw);
  }
}

.benefit {
  margin-top: 5px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: black;
  margin-bottom: 0.5555555556rem;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  height: 50%;
  transform: translate(33%, -50%);
}

.headline {
  text-align: center;
  margin-top: 278px;
}

.headline__title {
  margin-bottom: 4px;
}

.headline__subtitle {
  padding: 0 20%;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 2.3333333333rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

.benefits-section {
  display: flex;
  height: 100vh;
  background: url(/img/decor/side-leaf.png) left center no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  position: absolute;
  bottom: -8.3333333333rem;
  content: url("/img/decor/side-berry.png");
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.benefits__container {
  height: 100vh;
}

.reviews-section {
  display: flex;
  height: 100vh;
  background: url(/img/decor/strawberry.png) right 1.1666666667rem top 1.2222222222rem no-repeat;
}
.reviews-section:after {
  content: "";
  position: absolute;
  bottom: 600px;
  left: -2.5rem;
  content: url("/img/decor/review-berry.png");
}

.reviews__display {
  display: flex;
  background: #f8faf9 url(/img/decor/Raspberry.png) right -10px top 40px no-repeat;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.3888888889rem;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2777777778rem;
    height: 7.3888888889rem;
  }
}

.reviews__avatar-img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-top: 30px;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 0.5555555556rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2rem;
  width: 68%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    width: 100%;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar-link {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.interactive-avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url(/img/decor/orderback.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.order-title {
  margin-bottom: 1.9444444444rem;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 15%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.7222222222rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: 0.1666666667rem solid transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3888888889rem 0.9444444444rem;
  }
}
.form__input--textarea {
  height: 10.1111111111rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.7222222222rem;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 0.5555555556rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("/img/icons/tick.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  background: #fff;
  border-radius: 50%;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  display: none;
  background: #365a49;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 1.9444444444rem;
  margin-left: 0.5555555556rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: white;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.3888888889rem 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
}

.contacts {
  color: #010101;
}
@media screen and (max-width: 768px) {
  .contacts {
    flex-direction: column;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
}

.contacts__place {
  font-family: Alegreya Sans;
  font-size: 1.1666666667rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3333333333rem;
}

.phone-number--theme-green {
  color: #0b4d3c;
}

.social {
  display: flex;
}

.social__list {
  display: block;
  align-items: center;
  text-align: center;
}

.social__item {
  display: inline-flex;
  margin-right: 3px;
}