.menu {
   margin: 0 27px;
   padding-top: 6px;
   display: flex;
   align-items: baseline;

   @include tablets {
      display: none;
   }
}

.phone-number__text {
   white-space: nowrap;
}

.phone-number.header__phone-number {
   @include tablets {
      display: none;
   }
}

.menu--active {
   @include tablets {
      transition: 0.1s;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      margin: 0;
      z-index: 20;
      align-items: center;
      justify-content: center;


   }
}

.menu__list {
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}

.menu__list.menu__list__active {
   @include tablets {
      flex-direction: column;
      display: flex;
   }
}

.menu__item {

   margin-right: rem(27px);

   @include tablets {
      margin-bottom: 7px;
   }
}

.menu__link {
   font-size: rem(18px);
   text-decoration: none;
   white-space: nowrap;

   @include tablets {
      font-size: 20px;
   }

}