 .product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .bx-wrapper {
       -webkit-box-shadow: 0 0 0px #ccc;
       border: 0;
       background: transparent;
       box-shadow: none;
    }

    .bx-next {
       background: url(/img/icons/arrow.svg) no-repeat !important;
       right: -7px !important;

    }

    .bx-prev {
       background: url(/img/icons/arrow.svg) no-repeat !important;
       left: -7px !important;
       transform: rotate(180deg);
    }
 }

 .product__hidden {
    right: 227px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    //  height: 344px;
    width: 273px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 4px;
 }

 .container__ingredient {
    display: flex;
    //  flex-direction: row;
    margin: 30px;
    margin-bottom: 0;
    flex-direction: column;
 }

 .product__ingred {
    display: flex;
    margin-bottom: 27px;

 }

 .img_ingred {
    margin-right: 14px;
 }

 .name_ingred {
    width: 127px;
    margin-right: 16px;
    font-style: bold;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
 }

 .weight_ingred {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
 }




 .slider__arrow-prev {
    display: flex;
    align-items: center;
    cursor: pointer;
 }

 .slider__arrow-next {
    display: flex;
    align-items: center;
    cursor: pointer;
 }

 .product__item-content {
    width: 50%;
 }

 .product__item {
    display: flex;
    flex-direction: row;
    justify-content: center;


    @include tablets {
       flex-direction: column;
       align-items: center;
       text-align: center;
    }
 }

 .product__item-image {
    height: 386px;
    width: 363px;
    margin-right: rem(44px);
    background: url("/img/product/choccos.png ") no-repeat;
    background-size: contain;
    background-position: center;

    @include tablets {
       height: 246px;
       width: 263px;
       background: url("/img/product/choccos.png ") no-repeat;
       background-size: contain;
    }


 }

 .product__item-image2 {
    height: 386px;
    width: 363px;
    margin-right: rem(44px);
    background: url("/img/product/choccos2.png ") no-repeat;
    background-size: contain;
    background-position: center;

    @include tablets {
       height: 246px;
       width: 263px;
       background: url("/img/product/choccos.png ") no-repeat;
       background-size: contain;
    }
 }

 .item__ingredients {
    margin-bottom: 23px;
    height: 90px;
    width: 90px;
    background: url("/img/product/ingred.png ") no-repeat;
    background-size: contain;
    background-position: center;

    &:hover .product__hidden {
       opacity: 1;
       visibility: visible;
       transition: .3s;

    }

    @include tablets {
       display: none;
    }

 }

 .product__item-title {
    margin-bottom: 23px;
    font-weight: bold;
    font-size: rem(36px);
    line-height: 1.2;
 }

 .product__item-subtitle {
    margin-bottom: 23px;
    margin-right: 20px;
    font-weight: normal;
    font-size: rem(18px);
    line-height: 1.2;
 }

 .product__item-property {
    display: flex;
    flex-direction: row;

    @include tablets {
       flex-direction: row;
       align-items: center;
       text-align: center;
       justify-content: center;
    }
 }

 .product__item-callories {
    margin-right: 44px;


 }

 .product__item-calories-value {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: rem(18px);
    line-height: 1.2;

 }

 .product__item-calories-value {
    white-space: nowrap;
 }

 .product__item-buy {
    display: flex;
    flex-direction: row;

    @include tablets {

       flex-direction: row;
       align-items: center;
       text-align: center;
       justify-content: center;
    }
 }

 .product__item-price {

    margin-bottom: 23px;
    font-weight: 300;
    font-size: rem(60px);
    line-height: 1.2;
    text-align: center;
    align-items: center;

    white-space: nowrap;

    @include tablets {
       width: 200px;
       font-size: rem(38px);

    }
 }

 .btncont2 {
    margin-top: 8px;
    margin-left: 10px;

    @include tablets {
       margin-bottom: 26px;

    }


 }