.section {
   height: 100%;
   min-height: rem(650px);
   display: flex;
   flex-direction: column;
   justify-content: center;

   &--font-color--green {
      color: $darkgreen;

      .section__title {
         color: inherit;
      }
   }
}

.section__title {
   text-align: center;
   font-size: rem(48px);
   font-weight: bold;
   margin-bottom: rem(0px);

   text-transform: uppercase;
   color: black;
}