.team {
   display: flex;
   justify-content: space-between;

   @include tablets {
      flex-direction: column;
      align-items: center;
      padding: 0 10%;
   }
}

.team-section {
   margin-bottom: 57px;
   height: 100vh;

   @include tablets {
      margin-bottom: 157px;

   }
}

.team__content {
   overflow: hidden;
   transition: height .3s;
   height: 0;
}


.team--version--desktop .team__content {
   position: absolute;
   top: 100%;

}

.team--version--desktop {
   @include tablets {
      display: none;
   }
}

.team__item {
   flex: 1;
   text-align: center;
   margin-right: 20px;
   max-width: rem(200px);
   position: relative;

}

.team__member {
   margin-bottom: 20px;
}

.team__title {
   color: #000000;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 21px;
   font-weight: bold;
   margin-bottom: 20px;
}

.team__content-block {
   margin-bottom: 5px;
}

.team--version--mobile .team__item {
   margin-bottom: 10px;

   @include tablets {
      margin-right: 0;
      flex: initial;
   }
}

.team--version--mobile {
   display: none;

   @include tablets {
      display: flex;

   }
}

.team__occ {
   font-size: 18px;
   color: #000;
}

.t_active {
   opacity: 1;
}