.benefits {
   display: flex;
}


.benefits__item {
   flex: 1;
   margin: 0 3%;
   position: relative;

   &:before {
      content: url("/img/decor/separator.png");
      position: absolute;
      top: 50px;
      padding: 0 3%;
      transform: translateX(140%);
   }

   &:first-child {
      padding-left: 0;
   }

   &:last-child {
      padding-right: 0;

      &:before {
         display: none;
      }
   }

}